/*sugerencias*/

/* Estilo para el contenedor de sugerencias */
.sugerencias {
    max-width: 47vw;
    margin: 5vw auto;
    padding: 2vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.sugerencia_general{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

/*tabla de sugerencia nombre*/

.sugerencianombreBD{
    width: 15vw;
/*    border: 1px solid black;*/
    margin-right: 2.5vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
}

.contenedornombresugerencia{
    height: 2.3vw;
    width: auto;
    font-size: 1vw;
    margin-top: -0.2vw; 
}

.contenedor_de_nombres_sugerencia_bd{
    max-width: 32.7vw;
    padding: 1.7vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


/*tabla de sugerencia sugerencia*/

.sugerenciasugerenciaBD{
    width: 30vw;
    height: 2.7vw;
/*    height: 100%;*/
/*    border: 1px solid #007bff;*/
    margin-right: 5vw;
    margin-bottom: 2vw;
}


.contenedorsugerenciasugerencia{
    height: 2.9vw;
    width: auto;
    font-size: 1.1vw;
}

.contenedor_de_sugerencia_sugerencia_bd{
    max-width: 32.7vw;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/*titulos nombre y sugerencia*/

.nombre_suge_bd{
    position: absolute;
    width: 17vw;
    height: auto;
/*    border: 1px solid black;*/
    margin-top: 4vw;
    margin-left: 8vw;
    font-size: 1.2vw;
    text-align: center;
    font-family: sans-serif;
    
}

.sugerencia_suge_bd{
    position: absolute;
    width: 20vw;
    height: auto;
/*    border: 1px solid black;*/
    margin-top: 4vw;
    margin-left: 58vw;
    font-size: 1.2vw;
    text-align: center;
    font-family: sans-serif;
}





/* Estilo para el encabezado h1 */
.sugerencias h1 {
    text-align: center;
    color: #007bff; /* Color azul para el encabezado */
}

/* Estilo para las etiquetas de los campos de entrada */
.sugerencias label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilo para los campos de entrada de texto */
.sugerencias input[type="text"],
.sugerencias textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el campo de entrada de texto grande */
.sugerencias textarea {
    height: 150px;
}

#correosugerencia{
    width: 32.4vw;
    padding: 10px;
    margin-bottom: 1vw;
}

/* Estilo para el botón de envío */
.sugerencias input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para el botón de envío al pasar el mouse */
.sugerencias input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color al azul más oscuro al pasar el mouse */
}

#enviarsugerencia:hover{
    background-color: #ff0000;
    transform: scale(1.05, 1.05);
}



















